---
layout: default
---

<div class="home">
  <div>
    <h1>Work</h1>
    <h2>Machinima Console</h2>
    <img src='/assets/portfolio/console.png'></img>
    <ul>
      <li>Implemented redesign of Machinima Console homepage</li>
      <li>Backfilled automated tests for Machinima Console </li>
    </ul>
    <h2>AwesomenessTv Network</h2>
    <img src='/assets/portfolio/atv1.png'></img>
    <ul>
      <li>Contributed to AwesomenessTv's website and app, Bridge</li>
      <li>Used AngularJs and Rails for Tinder-like 'Bridge' app</li>
    </ul>
  </div>
</div>
